@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --darkGreen: #2C3930;
    --lightGreen: #3F4F44;
    --skin: #A27B5C;
    --grey: #DCD7C9;
    --openSans: "Open Sans", sans-serif;
    --workSans: 'Work Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;

    /* Responsive Font Sizes */
      --font-h1: 2.5rem; /* 40px */
      --logo-h1: 4.5rem; /* 72px */
      --font-h2: 2rem;   /* 32px */
      --font-h3: 1.75rem; /* 28px */
      --font-h4: 1.5rem;  /* 24px */
      --font-h5: 1.25rem; /* 20px */
      --font-h6: 1rem;   /* 16px */
      --font-p: 1rem;    /* 16px */
      --font-a: 1rem;    /* 16px */
      --font-label: 1rem; /* 16px */
      --font-input: 1rem; /* 16px */
}

/* Typography */
h1 { font-size: var(--font-h1); font-family: var(--montserrat); font-weight: bold; }
h2 { font-size: var(--font-h2); font-family: var(--montserrat); }
h3 { font-size: var(--font-h3); font-family: var(--openSans); }
h4 { font-size: var(--font-h4); font-family: var(--openSans); }
h5 { font-size: var(--font-h5); font-family: var(--roboto); }
h6 { font-size: var(--font-h6); font-family: var(--roboto); }
p { font-size: var(--font-p); font-family: var(--workSans); }
a { font-size: var(--font-a); font-family: var(--workSans); text-decoration: none; }

#homeContainer{
   background-color: #dcd7c9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%232c3930' fill-opacity='0.42'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* background-attachment: fixed;
    background-size: cover; */
}



#logobg{
    margin-left: 0;  
}

.feature-box {
    background: var(--skin);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    color: var(--darkGreen);

}


.slogan h1 {
    font-family: var(--workSans);
    font-size: var(--logo-h1);
    font-weight: 800;
    -webkit-text-stroke: 5px var(--skin);
    paint-order: stroke fill;
    color: var(--darkGreen);
}